.pricing {
  background-color: #f5f5f5;
}
ul {
  width: 340px;
}
.list-type {
  background-color: #333333;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans";
  margin: 0 15px 2px;
}
.list-price {
  background-color: #333333;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  font-family: "Raleway";
  margin: 0 15px 2px;
}
.list-note {
  background-color: #333333;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  margin: 0 15px 4px;
}
.list-size {
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  margin: 0 15px 4px;
}
